.container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: transparent;
    color: black;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        margin: 0;
    }
    .main{
        animation: show 0.8s 1 cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        width: 50%;
        background-color: white;
        padding: 2% 2.5%;
        border-radius: 8px;
        .title{
            text-align: left;
            border-bottom: 0.5px solid black;
            padding: 1% 0;
            p{
                font-size: 23px;
                font-weight: 700;
            }
        }
        .content{
            text-align: left;
            margin: 2% 0;
            min-height: 22vh;
        }
        .chooses{
            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            // justify-content: end;
            // border: 1px solid black;
            .acp{
            
                width: 20%;
                p{
                    cursor: pointer;
                    border-radius: 5px;
                    padding: 5% 10%;
                    background-color: lightgreen;
                    width: 50%;
                    &:hover{
                        animation: acp 0.5s 1 cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                    }
                }
                @keyframes acp {
                    to{
                        background-color: #20eb20;
                    }
                }
            }
            .rej{
            
                width: 20%;
                p{
                    cursor: pointer;
                    border-radius: 5px;
                    padding: 5% 10%;
                    background-color: #fd9191;
                    width: 50%;
                    &:hover{
                        animation: rej 0.5s 1 cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                    }
                }
                @keyframes rej {
                    to{
                        background-color: #fd2929;
                    }
                }
            }
        }
    }
}

@keyframes show {
    from{
        transform: translateY(-200px);
    }
    to{
        transform: translateY(0);
    }
}