.container{
    min-height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: white;
    .logo{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img{
            height: 11vh;
            aspect-ratio: 1;
        }
        p{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: 500;
            font-size: 15px;
            text-shadow: -1px 0px 5px #b5fafa;
        }
    }
}